/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--plum);
    color: var(--white);
    font-size: var(--font-size);
    line-height: 1.5;
}

#welcome {
    text-align: center;
    padding-top: .5rem;
    color: var(--hotmag);
}

.background {
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    /* Centers the block horizontally */
    background-color: blue;
    transition: background-color 3s ease;
}

p {
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: var(--sans);
    font-size: 1rem;
}

.background:hover {
    background-color: black;
    transition: background-color 3s ease;
}

.background:not(:hover) {
    background-color: blue;
}

h1,
h2,
h3 {
    font-family: var(--sans);
    font-weight: bold;
}

.classPoints {
    height: 40vh;
    width: 150%;
}

.languageTools {
    height: 40vh;
    width: 248.5%;
}

.classPoints {
    background-color: navy;
}

.languageTools {
    background-color: steelblue;
}

.sectionName {
    color: black;
}

li#resources::before {
    display: inline-block;
    /* Adjust the desired amount of spacing */
    margin-right: 0.5rem;
}

li#resources #superSize {
    font-size: 3.5rem;
    /* Adjust the desired size of the icon */
    padding-bottom: 2rem;
}

.gradient-line {
    background: linear-gradient(to bottom, navy, steelblue);
    width: 20px;
    height: 40vh;
}

.divider {
    width: 1920px;
    height: 0.75vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%); 
}

p {
    padding-top: 1rem;
    padding-left: .5rem;
}

#navBar {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px; /* Adjust the desired spacing */
}

nav li:last-child {
    margin-right: 0; /* Remove spacing for the last link */
}

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 1rem;
}

nav h1 a {
    font-family: var(--sans);
    text-align: center;
}

/* navbar organizing */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    /* puts all links together */
    flex-flow: row wrap;
    justify-content: center;
    /* centers everything in the row */
    align-items: center;
    gap: 2rem;
    /* puts gaps between each elements */
}

nav li:first-child {
    flex-basis: 100%;
    /* pushes name to it's own line */
    text-align: center;
}

nav a {
    color: var(--white);
    text-decoration: none;
    display: block;
    /* makes area clickable */

}

nav a:hover {
    color: var(--magenta);
}


.button {
    background-color: var(--magenta);
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--mono);
    text-decoration: none;
}

.button:hover {
    color: var(--white);
    background-color: var(--hotmag);
}

/* responsive design */
@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        /*limits width of screen */
        margin: 0 auto;
        /* centers */
    }

    nav li:first-child {
        flex-basis: auto;
    }
}

.end {
    padding: 1rem;
    text-align: center;
}